.card {
  display: flex;
  width: 47%;
  flex-direction: row;
  gap: 1rem;
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    flex-direction: column;
    border: 3px solid $background-secondary;
    padding: 1rem;
  }
  &:hover {
    background-color: $background-secondary;
  }
  .left {
    width: 30%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }
  .right {
    width: 70%;
    text-align: justify;
    word-wrap: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1rem;
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
    h2 {
      color: $text-secondary;
    }
    p {
      font-size: large;
      flex-grow: 1;
    }
    span {
      align-self: flex-end;
      a {
        text-decoration: none;
        color: $text-secondary;
      }
    }
  }
}
